.listItemContainer {
  display: block;
  margin: 6px 4px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  &:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
}

.selected {
  background: bisque;
  transition: 400ms;
}
