.app-layout {
  display: grid;
  grid-template-columns: 1fr 3fr; // overridden by component element style
  grid-template-rows: max-content minmax(0, 1fr); //minmax(0, 1fr) fixes scrolling
  height: 100vh;

  &-header {
    grid-column: 1 / 3;
    height: 70px;
    border: 1px solid #c47b44;
  }

  &-side-nav {
    grid-column: 1 / 2;
    border: 1px solid #66a;
  }

  &-content {
    grid-column: 2 / 3;
    border: 1px solid #29ab5c;
  }
}
